.top-anime {
  background-color: var(--x-black-lite);
  display: flex;
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  &__image {
    height: 100px;
    width: 75px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    &--title {
      font-size: 14px;
      color: var(--x-text);
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-align: start;
      margin-bottom: 5px;
    }
    &--date {
      font-size: 11px;
      color: var(--x-text-muted);
      margin-bottom: 5px;
    }
    &--details {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      .type {
        background-color: var(--x-primary);
        color: var(--x-text);
        padding: 1.5px 3px;
        border-radius: 3px;
        font-size: 10px;
        margin-right: 10px;
      }
      .episodes {
        font-size: 11px;
        color: var(--x-text-muted);
      }
    }
  }
}
