.search {
  padding: 15px 10px;
  // Hero
  &__hero {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  // Title
  &__title {
    margin-top: 15px;
    font-weight: 600;
    font-size: 25px;
  }
  &__description {
    color: var(--x-text-muted);
    font-size: 14px;
  }
  //
  //
  &__form {
    display: grid;
    grid-template-columns: 1fr 175px 175px 175px 175px;
    gap: 10px;
    label {
      color: var(--x-text-muted);
      font-size: 12px;
      display: block;
    }
    &--input-text {
      outline: none;
      border: none;
      background-color: var(--x-border);
      padding: 2.5px 5px;
      height: 35px;
      width: 100%;
      border-radius: 5px;
      color: var(--x-text);
      font-size: 13px;
    }
    &--input-select {
      outline: none;
      border: none;
      background-color: var(--x-border);
      padding: 2.5px 5px;
      height: 35px;
      width: 100%;
      border-radius: 5px;
      color: var(--x-text);
      font-size: 13px;
    }
    .btn-search {
      height: 35px;
      margin-top: 18px;
    }
  }
}
