<div class="container-content">
  <div class="search">
    <picture class="search__hero">
      <img src="assets/animx-poster.png" alt="">
    </picture>
    <!--  -->
    <h1 class="search__title">Look for anything in Animx</h1>
    <p class="search__description">The Animx application was developed by Miguel Zabala Figueroa with learning
      intentions, the information presented in this search will be thanks to the public information provided by
      MyAnimeList. The use of filters is recommended for greater precision in the requested search.</p>
  </div>
</div>
