.anime {
  padding: 15px 10px;
  // HERO
  &__hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    height: 300px;
    margin-bottom: 15px;
    &--item {
      border-radius: 5px;
    }
    &--item:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      background-color: var(--x-border);
      border-radius: 5px;
    }
    &--item:nth-child(2) {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      background-color: var(--x-border);
      border-radius: 5px;
    }
    &--item:nth-child(3) {
      grid-column: 2 / 5;
      grid-row: 2 / 3;
      background-color: var(--x-border);
      border-radius: 5px;
    }
    &--item:nth-child(4) {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      background-color: var(--x-border);
      border-radius: 5px;
    }
  }

  // NAV
  &__nav {
    position: sticky;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: var(--x-black);
    .nav {
      display: flex;
      &__item {
        padding: 10px 20px;
        cursor: pointer;
        background-color: var(--x-black);
        border: none;
        outline: none;
        transition: all 0.3s;
        &:hover {
          filter: brightness(1.5);
        }
        span {
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.5px;
          -webkit-user-select: none;
        }
      }
      .active {
        border-bottom: 1px solid var(--x-primary);
        color: var(--x-primary);
        &:hover {
          filter: none;
        }
      }
    }
    .goBack {
      background-color: rgba($color: #FFF, $alpha: 0.25);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: all 0.3s;
      user-select: none;
      position: relative;
      z-index: 100;
      cursor: pointer;
      & > * {
        user-select: none;
      }
      &:active {
        background-color: rgba($color: #FFF, $alpha: 0.5);
      }
    }
  }
}

.hide-background-nav {
  background-color: transparent !important;
}

.hide-anime__hero {
  transition: all 0.3s;
  // transform: scaleY(0%);
  height: 0px;
  margin-bottom: 0px;
  visibility: hidden;
  & > * {
    animation: hideHero 0.3s  ease-in-out;
    visibility: hidden;
  }
}

.show-anime__hero {
  // transform: scaleY(100%);
  transition: all 0.3s;
  height: 300px;
  & > * {
    animation: showHero 0.3s  ease-in-out;
    visibility: visible;
  }
}

@keyframes hideHero {
  from {
    opacity: 1;
    visibility: visible;
  } to {
    opacity: 0;
  }
}

@keyframes showHero {
  from {
    opacity: 0;
    visibility: hidden;
  } to {
    opacity: 1;
  }
}

@media screen and (max-width: 425px) {
  .anime {
    &__nav {
      .nav {
        &__item {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
