<div class="container-content">

  <div class="anime">

    <section class="anime__hero">
      <picture class="anime__hero--item">
        <img src="" alt="">
      </picture>
      <picture class="anime__hero--item">
        <img src="" alt="">
      </picture>
      <picture class="anime__hero--item">
        <img src="" alt="">
      </picture>
      <picture class="anime__hero--item">
        <img src="" alt="">
      </picture>
    </section>

    <section class="anime__nav">
      <nav class="nav">
        <div *ngFor="let item of animeSubmenu[0].subpages"
             [routerLink]="[item.url]"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }"
             class="nav__item">
          <span>{{ item.title }}</span>
        </div>
      </nav>
    </section>

    <div class="navigation-fluid">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
