<div class="container-content">

  <div class="anime">

    <section class="anime__hero"
      [ngClass]="{'hide-anime__hero': animeRouter.activatedRouteData.animeDetails, 'show-anime__hero': !animeRouter.activatedRouteData.animeDetails}">
      <picture class="anime__hero--item">
        <img src="" alt="">
      </picture>
      <picture class="anime__hero--item">
        <img src="" alt="">
      </picture>
      <picture class="anime__hero--item">
        <img src="" alt="">
      </picture>
      <picture class="anime__hero--item">
        <img src="" alt="">
      </picture>
    </section>

    <section class="anime__nav" [ngClass]="{'hide-background-nav': animeRouter.activatedRouteData.animeDetails}">
      <nav class="nav" *ngIf="!animeRouter.activatedRouteData.animeDetails">
        <div *ngFor="let item of animeSubmenu[0].subpages" [routerLink]="[item.url]" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" class="nav__item">
          <span>{{ item.title }}</span>
        </div>
      </nav>
      <div class="goBack" (click)="goBack()" *ngIf="animeRouter.activatedRouteData.animeDetails">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
      </div>
    </section>

    <div class="navigation-fluid">
      <router-outlet #animeRouter="outlet"></router-outlet>
    </div>

  </div>

</div>
