
.character-details {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  &__bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--x-black-transparent);
  }
  &__details {
    position: fixed;
    background-color: var(--x-black-lite);
    right: 0;
    left: 0;
    overflow: auto;
    bottom: 0;
    z-index: 2;
    padding: 0px 10px 75px;
    height: calc(100% - 30%);

    .details-header {
      border-bottom: 1px solid var(--x-border);
      padding: 10px 0;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      position: sticky;
      background-color: var(--x-black-lite);
      right: 0;
      left: 0;
      top: 0;
      &__close {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--x-border);
        cursor: pointer;
        &:hover {
          filter: brightness(0.9);
        }
      }
    }

    .details-hero {
      padding-top: 10px;
      display: flex;
      .img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid var(--x-border);
        display: block;
        img {
          background-color: var(--x-border);
          width: 100%;
          height: 100%;
          object-fit: cover;

        }
      }
      .details {
        flex: 1;
        padding-left: 10px;
        &__name {
          margin-bottom: 5px;
        }
        &__subtitle {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 5px;
          color: var(--x-text-muted);
        }
        &__actors {
          display: flex;
          padding-left: 10px;
          align-items: center;
          .actor {
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
            overflow: hidden;
            margin-left: -10px;
            background-color: var(--x-border);
            border: 3px solid var(--x-black-lite);
          }
          span {
            color: var(--x-text-muted);
            font-size: 13px;
            margin-left: 5px;
          }
        }
      }
    }

    .details-content-anime {
      padding-top: 25px;
      h3 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        color: var(--x-text-muted);
      }
      .animes {
        display: flex;
        overflow: auto;
        padding-bottom: 10px;
        .anime{
          width: 75px;
          height: 140px;
          margin-right: 10px;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          img {
            width: 100%;
            height: 80%;
            background-color: var(--x-border);
            border-radius: 5px;
            object-fit: cover;
          }
          small {
            color: var(--x-text);
            background-color: var(--x-border);
            border-radius: 3px;
            padding: 0px 3px;
            display: flex;
            font-size: 11px;
            width: min-content;
          }
        }
      }
    }

    .details-content-manga {
      padding-top: 15px;
      h3 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        color: var(--x-text-muted);
      }
      .mangas {
        display: flex;
        overflow: auto;
        padding-bottom: 10px;
        .manga{
          width: 75px;
          height: 140px;
          margin-right: 10px;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          img {
            width: 100%;
            height: 80%;
            background-color: var(--x-border);
            border-radius: 5px;
            object-fit: cover;
          }
          small {
            color: var(--x-text);
            background-color: var(--x-border);
            border-radius: 3px;
            padding: 0px 3px;
            display: flex;
            font-size: 11px;
            width: min-content;
          }
        }
      }
    }
  }
}

.show-bg {
  animation: animationBg 0.3s ease-in-out;
}

.hide-bg {
  animation: animationBgHide 0.3s ease-in-out;
}

.show-details {
  animation: animationDetails 0.3s ease-in-out;
}
.hide-details {
  animation: animationDetailsHide 0.3s ease-in-out;
}

@keyframes animationDetails {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);

  }
}

@keyframes animationBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes animationDetailsHide {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  99% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    display: none;
  }
}

@keyframes animationBgHide {
  from {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}


@media screen and (min-width: 1024px) {
  .character-details {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__bg {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: var(--x-black-transparent);
    }
    &__details {
      border-radius: 5px;
      background-color: var(--x-black-lite);
      width: 700px;
      height: calc(100% - 30%);
      // height: auto;
      overflow: auto;
      margin:  auto;
      bottom: 0;
      top: 0;
    }
  }
}
