:root {
  --x-primary: #ff3333;
  --x-black: #111;
  --x-black-transparent: rgba(17, 17, 17, 0.65);
  --x-black-lite: #191919;
  --x-white: #fff;
  --x-text: #dfdfdf;
  --x-text-muted: #9c9c9c;
  --x-border: #333;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: var(--x-black);
  color: var(--x-text);
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.container-content {
  max-width: 1200px;
  margin: auto;
}

.container-scroll {
  &::-webkit-scrollbar {
    width: 2.5px; /* Tamaño del scroll en vertical */
    height: 5px; /* Tamaño del scroll en horizontal */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(230, 230, 230, 0.25);
    border-radius: 4px;
  }
}

.navigation-fluid {
  transition: all 0.3s;
  animation: navigationFluid ease-in-out 0.5s;
}

select {
  border: none;
  outline: none;
  background-color: var(--x-border);
  border-radius: 5px;
  color: var(--x-text);
  option {
    background-color: var(--x-black-transparent);
    border-radius: 5px;
  }
}

.btn-search {
  border: none;
  outline: none;
  background-color: var(--x-primary);
  color: var(--x-text);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  &:disabled {
    background-color: var(--x-black-lite);
    color: var(--x-text-muted);
    cursor: no-drop;
  }
}

@keyframes navigationFluid {
  from {
    opacity: 0;
    filter: grayscale(1);
  }
  to {
    filter: grayscale(0);
    opacity: 1;
  }
}
