:root {
  --x-primary: #ff3333;
  --x-black: #111;
  --x-black-lite: #191919;
  --x-white: #fff;
  --x-text: #dfdfdf;
  --x-text-muted: #9c9c9c;
  --x-border: #333;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: var(--x-black);
  color: var(--x-text);
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.container-content {
  max-width: 1200px;
  margin: auto;
}

.navigation-fluid {
  transition: all 0.3s;
  animation: navigationFluid ease-in-out 0.5s;
}

@keyframes navigationFluid {
  from {
    opacity: 0;
    filter: grayscale(1);
  }
  to {
    filter: grayscale(0);
    opacity: 1;
  }
}
